@model Carnotaurus.GhostPubsMvc.Data.Models.ViewModels.OutputViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.JumboTitle;
    ViewBag.MetaDescription = Model.MetaDescription;
    ViewBag.ArticleDescription = Model.ArticleDescription;
}

<!-- Subhead
    ================================================== -->
<header class="jumbotron subhead">
    <div class="container">
        <div>
            <h1>@Model.JumboTitle</h1>
            <p class="lead">
                @Model.ArticleDescription
            </p>
        </div>
    </div>
</header>

<div class="container">
    <!-- Docs nav
        ================================================== -->
    <div class="row">

        <a href="/" title="Home">Home</a>

        <span>&gt;&nbsp;</span>
        <span>@Model.JumboTitle</span>

    </div>
    <div class="row">
        <div class="span4">
            <div>
                <div>
                    <img width='200' height='200' onclick=" window.open('http://www.ghostpubs.com/haunted-pubs/uk.html', '_self'); " class="img-circle face-relative" src="~/Content/bootstrap/231/img/ghostpubs/padded-logo-125x125.png" alt="Ghost Pubs" title="Ghost Pubs" />

                </div>

            </div>
        </div>
        <div class="span8">

            <!-- Well
                ================================================== -->
            <section id="well">
                <div class="page-header">
                    <h2>All about Ghost Pubs</h2>
                </div>
                <h3>Click the questions below to find out more</h3>

                <div class="accordion" id="accordion2">

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                Let's tell you who we are
                            </a>
                        </div>
                        <div id="collapseOne" class="accordion-body collapse" style="height: 0;">
                            <div class="accordion-inner">
                                <div class="well well-large">
                                    <p>
                                        We are chaps involved in running <a href="http://www.myPubGuide.com">myPUBGUIDE.com</a>.
                                        We have noticed that almost sixty public houses close each month. Therefore, given
                                        the success of myPUBGUIDE, we thought it would be a good idea to launch a similar
                                        website for drinking establishments that are haunted, irrespective of whether these are closed, abandoned, and demolished.
                                    </p>
                                    <p>
                                        Clearly such establishments do not belong on an active pub search. These deserve
                                        a special website of their own, where your contribution would be encouraged. We
                                        launched this website on Halloween 2013. We are sure that you have a ghost story
                                        to share with us about your old local.
                                    </p>
                                    <p>
                                        As the name suggests Ghost Pubs we are looking for any information you can give
                                        regarding any hauntings or paranormal phenomena regarding your local pub. So, we are searching for ghost stories about haunted pub houses.
                                        We write stories about haunted public house, irrespective of whether these venues are still trading.
                                        The stories often draw upon local knowledge to keep the stories as close to the version of events.

                                    </p>
                                    <p>
                                        We also provide the following: ghost tours, mediums, psychic
                                        nights, tarot readings, ghost hunts, and haunted accommodation.
                                    </p>
                                    <p>
                                        We offer website advertising (not just for pubs) on ghost pubs and
                                        my pub guide. As well, we ensure website listings on these two
                                        website.
                                    </p>

                                    <p>
                                        Kindest regards,
                                    </p>
                                    <p>
                                        <strong>The Ghost Pubs Team</strong>
                                    </p>
                                    <p>
                                        <a href="/" title="The Ghost Pubs website">www.GhostPubs.com</a>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                Who does what?
                            </a>
                        </div>
                        <div id="collapseTwo" class="accordion-body collapse" style="height: 0;">
                            <div class="accordion-inner">

                                <div class="well well-large">
                                    <h3>
                                        Here are the contributors:
                                    </h3>

                                    <p>
                                        <b><a href="http://www.philipcarney.com">Phil Carney</a></b>: What is there to say? Programmer from childhood; Phil started his professional career as a university economics lecturer. Commercially, he has been a systems developer since 2001... To memory, he has always been interested in strange phenomena.
                                    </p>
                                    <p>
                                        <b>Brian Hedley</b>: His career relates largely to IT, retail, and quality customer service. He brings a high level of creation, communication, and a feel for user experience to the Ghost Pubs Team. His editorial skills are particularly valuable to us. His experience keeps our communications clear and our concepts appealing.
                                    </p>
                                    <p>
                                        <b>Alex Bennett-Carney</b>: He writes stories and blog entries for Ghost Pubs.
                                    </p>
                                    <p>
                                        <b>Sandra Carney</b>: She has a degree in theology and history. She often sources useful materials to use on the website and elsewhere.
                                    </p>
                                    <p>
                                        <b>Riz Kler</b>: He is a pragmatic developer who is always eager to assist and take an active part in any role and he's learning some new skills of his own. He knows lots of technical information and will apply it without problems. He's been around the machinery (a few times now) so he will understand most things. He has great ideas, even if some are a bit challenging. He can set a pace as well as keep up.
                                    </p>
                                    <p>
                                        <b>Chris Murray</b>: He has a parapsychology degree and performs paranormal investigations. Contact him on twitter <a href="https://twitter.com/cider_guy" target="Chris" title="Chris">@@cider_guy</a>. He also provides with his thoughts on haunted pubs. Here is an example: <a href="http://www.ghostpubs.com/haunted-pubs/20115-the-royal-oak-chichester.html">The Royal Oak, Chichester</a>.
                                    </p>
                                    <p>
                                        <b>Mark Abrahams</b>: Events coordinator and paranormal investigator, recently interviewed on BBC Radio Cumbria</p>
                                    <p>&nbsp;</p>
                                    <p>
                                        Kindest regards,
                                    </p>
                                    <p>
                                        <b>The Ghost Pubs Team</b>
                                    </p>
                                    <p>
                                        <a href="/" title="The Ghost Pubs website">www.GhostPubs.com</a>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                                How to contact us
                            </a>
                        </div>
                        <div id="collapseThree" class="accordion-body collapse" style="height: 0;">
                            <div class="accordion-inner">
                                <div class="well well-large">
                                    <p>
                                        Please <a href="https://twitter.com/ghost_pubs" rel="nofollow">twitter</a> or <a href="https://www.facebook.com/groups/ghostpubs/" rel="nofollow">facebook</a>. You'll receive full credit and you may win a prize.
                                    </p>
                                    <p>
                                        For urgent bookings, please call Mark Abrahams on 07929209353.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="fb-like" data-href="@ViewBag.Link" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

                <hr>
            </section>
        </div>
    </div>
</div>
