@model Carnotaurus.GhostPubsMvc.Data.Models.ViewModels.OutputViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.JumboTitle;
    ViewBag.MetaDescription = Model.MetaDescription;
    ViewBag.ArticleDescription = Model.ArticleDescription;
}

<!-- Subhead
    ================================================== -->
<header class="jumbotron subhead">
    <div class="container">
        <div>
            <h1>@Model.JumboTitle</h1>
            <p class="lead">
                @Model.ArticleDescription
            </p>
        </div>
    </div>
</header>

<div class="container">
    <!-- Docs nav
        ================================================== -->
    <div class="row">

        <a href="/" title="Home">Home</a>

        <span>&gt;&nbsp;</span>
        <span>@Model.JumboTitle</span>

    </div>
    <div class="row">
        <div class="span4">
            <div>
                <div>
                    <img width='200' height='200' onclick=" window.open('http://www.ghostpubs.com/haunted-pubs/uk.html', '_self'); " class="img-circle face-relative" src="~/Content/bootstrap/231/img/ghostpubs/padded-logo-125x125.png" alt="Ghost Pubs" title="Ghost Pubs" />

                </div>

            </div>
        </div>
        <div class="span8">

            <!-- Well
                ================================================== -->
            <section id="well">
                <div class="page-header">
                    <h2>Frequently Asked Questions</h2>
                </div>

                <div class="accordion" id="accordion2">

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseWho">
                                Who are we and what can we offer you?
                            </a>
                        </div>
                        <div id="collapseWho" class="accordion-body collapse" style="height: 0;">
                            <div class="accordion-inner">
                                <div class="well well-large">
                                    <h3>Who we are!</h3>
                                    <p>
                                        We are an authority on haunted pubs. We are the largest website outlet dedicated to haunted pubs. We have over 1500 haunted pubs on record. We remain in contact with high calibre mediums, psychics, and the like. Also, we receive a high volume of web traffic.
                                        We were frequently approached for featured articles in the press. For example, the following articles are about us:
                                        <a target="external" href="http://www.morningadvertiser.co.uk/Business-Support/haunted-Pubs-Where-there-s-a-chill-there-s-a-way"
                                           title="Interview with Ghost Pubs"
                                           rel="nofollow">The Publican’s Morning Advertiser</a> and
                                        <a target="external" href="http://www.nwemail.co.uk/news/does-your-regular-haunt-have-ghosts-1.1185925"
                                           title="Interview with Ghost Pubs" rel="nofollow">the North West Evening Mail</a>.
                                    </p>
                                    <h3>What services do we offer?</h3>
                                    <p>We can help you if your know of a haunted public house. We can help host events at the venue. Here at Ghost Pubs, we love a good ghost story however, we also love to craft new partnerships. That's not all! Here's a list of what we offer and please take a look at any information relevant to you below:</p>
                                    <ul>
                                        <li>Advertising space on Ghost Pubs or one of our subsidiary websites (including web development for any special requirements)</li>
                                        <li>Organising of ghost tours of haunted public houses, inns, hotels, and breweries</li>
                                        <li>Organising of paranormal events, e.g., séances, psychic nights, and, tarot readings</li>
                                        <li>Providing of prospects for haunted accommodation in your hotels and inns</li>
                                        <li>Providing of ghost stories about your haunted establishments</li>
                                    </ul>
                                    <p>
                                        If you are interested then please contact Ghost Pubs to become involved.
                                    </p>
                                    <p>
                                        If you would like to know more then tweet to us at <a rel="nofollow" href="http://www.twitter.com/ghost_pubs" title="Ghost Pubs twitter">@@ghost_pubs</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                We are a brewery; or we're a pub chain - how can Ghost Pubs help?
                            </a>
                        </div>
                        <div id="collapseTwo" class="accordion-body collapse" style="height: 0;">
                            <div class="accordion-inner">
                                <div class="well well-large">
                                    <h3>How can we help you? Why should you advertise your pubs as haunted?</h3>
                                    <p>
                                        There is a growing dark tourism. Being haunted is good for business. Tourists from all over the world want to stay at haunted
                                        establishments or at least tour them. Some pubs thrive upon claiming a haunted presence. We are aware of over 1500 haunted pubs.
                                        So, that's over 3% of all UK public houses and it's rising. So, do you have haunted pubs? If you would like to know more then tweet to us at <a rel="nofollow" href="http://www.twitter.com/ghost_pubs" title="Ghost Pubs twitter">@@ghost_pubs</a>
                                    </p>
                                    <h3>How can this work for your haunted pubs?</h3>
                                    <p>
                                        At minimum, your pubs could opt to be included in a regular ghost tour. This can bring more people to your pubs.
                                        You may even be interested in hosting other paranormal events, such as, séances, psychic nights, tarot readings, and a ghost hunt.
                                        If you provide accommodation then being haunted would work even better for you.
                                        Even if we do not offer the specific paranormal service that you require ourselves, we would still endeavour to put you in contact with those who would fulfil your needs.
                                        Nonetheless, we are well stocked; one of our tour guides frighteningly resembles Bruce Campbell (Ash, the star of the classic Evil Dead film).
                                        If you would like to know more then tweet to us at <a rel="nofollow" href="http://www.twitter.com/ghost_pubs" title="Ghost Pubs twitter">@@ghost_pubs</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                                I run a pub - how can Ghost Pubs help?
                            </a>
                        </div>
                        <div id="collapseThree" class="accordion-body collapse" style="height: 0;">
                            <div class="accordion-inner">
                                <div class="well well-large">
                                    <h3>Are you thinking of new ways to fill your venue without it costing you a single penny?</h3>
                                    <p>
                                        Have you thought of holding a Paranormal Evening?
                                        We specialise in club and pub events and we promote these evenings throughout the United Kingdom.
                                        We feel this is an excellent opportunity for you to fill your establishment on an evening, if you are very quiet or even almost closed.
                                        You do not have to worry about the marketing as we will design the poster and email it over to you.
                                        All you have to do is print a few out, put them up around your establishment, and take the bookings!
                                        It really is that simple.
                                        If this is something that interests you, please respond to us as early as possible as dates are filling up. We are already taking repeat bookings.
                                        If you would like to know more then tweet to us at <a rel="nofollow" href="http://www.twitter.com/ghost_pubs" title="Ghost Pubs twitter">@@ghost_pubs</a>
                                    </p>
                                    <h3>How can we help your public house, hotel, or inn, make money?</h3>
                                    <p>
                                        We can help you if your establishment is supernaturally inhabited, you wish to be incorporated in a haunted tour, or you are
                                        interested in providing a venue for paranormal events. We are officially recognised by the paranormal community and
                                        those connected with pub houses. We have been in the press recently too (see above). We are the largest website outlet dedicated
                                        to haunted pubs. More than that, we are in contact with highly respected mediums, psychics, and so forth.
                                        And that's only the tip of the iceberg: we get a high volume of web traffic.
                                        If you would like to know more then tweet to us at <a rel="nofollow" href="http://www.twitter.com/ghost_pubs" title="Ghost Pubs twitter">@@ghost_pubs</a>
                                    </p>
                                    <h3>Why, as a publican, should you advertise that your pub is haunted?</h3>
                                    <p>
                                        There is a developing dark tourist undercurrent. Being spooky is useful for business. Tourists from everywhere throughout the
                                        world want to stay at haunted establishment or attend a supernatural event at your public house. We are mindful that there are as many as
                                        1500 haunted public houses. That's some 3% of all UK pubs. Many of these pubs flourish and your pub could too.
                                        If you would like to know more then tweet to us at <a rel="nofollow" href="http://www.twitter.com/ghost_pubs" title="Ghost Pubs twitter">@@ghost_pubs</a>
                                    </p>
                                    <h3>How can running a haunted pub work for me?</h3>
                                    <p>
                                        It can work for you! Being haunted can bring more people to your pub. Even if you're not haunted then you may even entertain
                                        facilitating other paranormal occasions. For example, you could host: séances, psychic nights, tarot readings, or even a phantom chase.
                                        If you would like to know more then tweet to us at <a rel="nofollow" href="http://www.twitter.com/ghost_pubs" title="Ghost Pubs twitter">@@ghost_pubs</a>
                                    </p>
                                    <h3>What if Ghost Pubs do not offer everything we want?</h3>
                                    <p>
                                        This is highly improbably. We will most likely offer the particular paranormal service that you require.
                                        If we cannot then we would attempt to place you in contact with the individuals who would satisfy your needs.
                                        If you would like to know more then tweet to us at <a rel="nofollow" href="http://www.twitter.com/ghost_pubs" title="Ghost Pubs twitter">@@ghost_pubs</a>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                                We provide paranormal services - how can Ghost Pubs help?
                            </a>
                        </div>
                        <div id="collapseFour" class="accordion-body collapse" style="height: 0;">
                            <div class="accordion-inner">
                                <div class="well well-large">
                                    <h3>We can we do?</h3>
                                    <p>
                                        We can offer you prospects (interested potential customers) if you register with us; or if you advertise your contact details from our pages. It's that simple!
                                        If you provide paranormal tours other services then don't let the competition get ahead of you; just advertise here.
                                        If you would like to know more then tweet to us at <a rel="nofollow" href="http://www.twitter.com/ghost_pubs" title="Ghost Pubs twitter">@@ghost_pubs</a>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
                                We are a heritage society - how can Ghost Pubs help?
                            </a>
                        </div>
                        <div id="collapseFive" class="accordion-body collapse" style="height: 0;">
                            <div class="accordion-inner">
                                <div class="well well-large">
                                    <h3>We can we do?</h3>
                                    <p>
                                        We can offer you links from our pages to your heritage buildings, e.g., castles, estates, etc., if you advertise with us. It's that simple!
                                        If you would like to know more then tweet to us at <a rel="nofollow" href="http://www.twitter.com/ghost_pubs" title="Ghost Pubs twitter">@@ghost_pubs</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
                                I am a web developer - how can Ghost Pubs help?
                            </a>
                        </div>
                        <div id="collapseSix" class="accordion-body collapse" style="height: 0;">
                            <div class="accordion-inner">
                                <div class="well well-large">
                                    <p>
                                        Hello devs,
                                    </p>

                                    <p>
                                        Volunteering with Ghost Pubs is about more than lending a hand. It’s about learning, collaborating and sharing your skills — coders, organizers, activists and more — who help shape the Web every day.
                                    </p>

                                    <p>
                                        Please <a href="https://twitter.com/ghost_pubs" rel="nofollow">twitter</a> or <a href="https://www.facebook.com/groups/ghostpubs/" rel="nofollow">facebook</a>. You'll receive full credit and you may win a prize.
                                    </p>
                                    <p>
                                        If you know any volunteer developers who want to get involved in the infamy then please tell them we're on <a href="https://github.com/GhostPubs" rel="nofollow">GitHub</a>
                                    </p>
                                    <p>
                                        Kindest regards,
                                    </p>
                                    <p>
                                        <strong>The Ghost Pubs Team</strong>
                                    </p>
                                    <p>
                                        <a href="/" title="The Ghost Pubs website">www.GhostPubs.com</a>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven">
                                I can write a ghost story about a pub for Ghost Pubs - how can Ghost Pubs help?
                            </a>
                        </div>
                        <div id="collapseSeven" class="accordion-body collapse" style="height: 0;">
                            <div class="accordion-inner">
                                <div class="well well-large">
                                    <p>
                                        Hello there,
                                    </p>

                                    <p>
                                        We officially launched Ghost Pubs on Halloween 2013. We have not yet covered every haunted public house.
                                        Indeed, the usefulness of our website depends upon contributions from our perspective readers.
                                        Yes, that's you! So, please feel free to send us any ghostly information about public houses that you have visited. For full coverage, it all rests on your contributions.
                                    </p>
                                    <p>
                                        Please send us your story as soon as possible through <a href="https://twitter.com/ghost_pubs">twitter</a> or <a href="https://www.facebook.com/groups/ghostpubs/">facebook</a>. You'll receive full credit and you may win a prize.
                                    </p>
                                    <p>
                                        Who knows: If we get enough interest then we may organise local ghost tours in your area.
                                    </p>
                                    <p>
                                        Thanks in advance for the interest.
                                    </p>
                                    <p>
                                        Kindest regards,
                                    </p>
                                    <p>
                                        <strong>The Ghost Pubs Team</strong>
                                    </p>
                                    <p>
                                        <a href="/" title="The Ghost Pubs website">www.GhostPubs.com</a>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight">
                                Why not categorise under town instead of local authority?
                            </a>
                        </div>
                        <div id="collapseEight" class="accordion-body collapse" style="height: 0;">
                            <div class="accordion-inner">
                                <div class="well well-large">
                                    <p>
                                        Hello there,
                                    </p>

                                    <p>
                                        Data quality is important and this is reflected in our website.
                                        We have not succeeded in finding an adequate service to validate addresses of public house that uses the actual town where the pub is located.
                                        There are validation services that validate to postal town. However, these are inadequate,
                                        as the postal town does not always reflect the actual town. In addition, such services roll-up nearby villages,
                                        which are outside the town (postal or otherwise), as being located in that town.
                                        For example, Whitburn is a village outside of the town of Sunderland. So, it is not actually in Sunderland.
                                        Nonetheless, postal town validators categorize this village as being in the postal town of Sunderland.
                                        To say, however, that Whitburn is in Sunderland would be incorrect. Whitburn is not an isolated example.
                                        There are hundreds of examples we could mention.
                                        Therefore, postal town is not a category that we would care to use.
                                        For this reason, we validate against services that use local authority instead.
                                        This ensures more accurate information.
                                    </p>
                                    <p>
                                        Thanks in advance for the interest.
                                    </p>
                                    <p>
                                        Kindest regards,
                                    </p>
                                    <p>
                                        <strong>The Ghost Pubs Team</strong>
                                    </p>
                                    <p>
                                        <a href="/" title="The Ghost Pubs website">www.GhostPubs.com</a>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="fb-like" data-href="@ViewBag.Link" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

                <hr>
            </section>
        </div>
    </div>
</div>
